INPUT_DIR=<path to input directory>
OUTPUT_DIR=<path to output directory>
FTP_USER=<FTP user name>
FTP_PW=<FTP password>
MY_DB=<MySQL database name>
MY_USER=<MySQL user name>
MY_PASSWORD=<MySQL password>
