<configuration debug="true">
    <appender name="FILE" class="ch.qos.logback.core.FileAppender">
        <file>${logDir}/measurement.log</file>
        <append>true</append>
        <encoder>
            <pattern>%d{HH:mm:ss.SSS} [%thread:%line] level: %-5level logger: %logger{35} - %msg%n</pattern>
        </encoder>
    </appender>
    <appender name="STDOUT" class="ch.qos.logback.core.ConsoleAppender">
        <encoder>
            <pattern>%d{HH:mm:ss.SSS} [%thread:%line] level: %-5level logger: %logger{35} - %msg%n</pattern>
        </encoder>
    </appender>
    <!--
    -->
    <logger name="de.gwdg.metadataqa.ddb.App" level="DEBUG">
        <appender-ref ref="STDOUT" />
    </logger>
    <root level="INFO">
        <appender-ref ref="STDOUT" />
    </root>
</configuration>